body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.car-section {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.car-image {
    flex: 1;
    margin-right: 20px;
}
.car-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.car-description {
    flex: 3;
}
.rent-button {
    flex: 1;
    text-align: center;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}