<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" th:href="@{/css/about_us.css}">
    <link rel="icon" th:href="@{/pictures/favicon.png}">
    <style></style>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <title>About-us Page</title>
</head>
<body>
<div class="container">
    <div class="about">
        <div class="text">
            <h1>About Us</h1>
            <div class="line"></div>
        </div>
    </div>
    <div class="content">
        <p><b>М</b>ы предлагаем широкий выбор автомобилей, от экономичных до премиальных, чтобы удовлетворить потребности каждого клиента.
            Наша команда профессионалов всегда готова помочь вам выбрать наиболее подходящий автомобиль для ваших нужд и предпочтений.

            Наша компания - это не просто сервис аренды автомобилей. Это ваш надежный партнер в путешествиях, который заботится о вашем комфорте и безопасности. Мы ценим каждого нашего клиента и стремимся предоставлять только лучший сервис.

            Приглашаем вас присоединиться к нашей большей семье и попробовать все преимущества использования наших услуг. Мы уверены, что вы оцените удобство, гибкость и надежность нашего сервиса.</p>
    </div>
</div>
<footer>© 2024 Каршеринговая компания. Все права защищены.</footer>
</body>
</html>
</body>
</html>