<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="icon" th:href="@{/pictures/favicon.png}">
</head>
<body translate="no">
<form th:method="POST" th:action="@{/client/login}" th:object="${client}">
    <h2>Аутентификация</h2>
    <div style="color: #941919" th:if="${param.error}" >
        Неправильное имя или пароль!
    </div>
    <div class="group">
        <div style="color: #941919" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <label for="name" class="label">Имя пользователя</label>
        <input id="name" th:field="*{name}" type="text" class="input">
    </div>
    <div class="group">
        <div style="color: #941919" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <label for="pass" class="label">Пароль</label>
        <input id="pass" th:field="*{password}" type="password" class="input" data-type="password">
    </div>
    <div class="group">
        <div style="color: #941919" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <label for="email" class="label">Адрес электронной почты</label>
        <input id="email" th:field="*{email}" type="text" class="input">
    </div>
    <div class="group">
        <input type="submit" class="button" value="Войти">
    </div>
</form>
</body>
</html>