<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/client_profile.css}">
    <link type="Image/x-icon" th:href="@{/pictures/favicon.png}" rel="icon">
</head>
<body>
<div class="profile-container">
    <h1>Профиль пользователя</h1>
    <div th:object="${client}" class="profile-cont">
        <div class="profile-info">
            <div>
                <label for="userId">Уникальное ID:</label>
                <span th:text="${client.getId()}" id="userId"></span>
            </div>
            <div>
                <label for="username">Имя пользователя:</label>
                <span th:text="${client.name}" id="username"></span>
            </div>
            <div>
                <label for="age">Возраст:</label>
                <span th:text="${client.age}" id="age"></span>
            </div>
            <div>
                <label for="email">Электронная почта:</label>
                <span th:text="${client.email}" id="email"></span>
            </div>
            <div>
                <label for="drivingExperience">Стаж вождения:</label>
                <span th:text="${client.drivingExperience}" id="drivingExperience"></span>
            </div>
            <div>
                <label for="role">Роль на сайте:</label>
                <span th:text="${client.role}" id="role"></span>
            </div>
        </div>
        <div class="profile-circle">
            <div th:text="${client.name.toUpperCase.charAt(0)}" class="circle"></div>
            <button>Редактировать профиль</button>
            <button>Удалить профиль</button>
        </div>
    </div>
</div>
</body>
</html>