<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/client_profile.css}">
    <link type="Image/x-icon" th:href="@{/pictures/favicon.png}" rel="icon">
</head>
<body>
<div class="profile-container">
    <h1>Профиль пользователя</h1>
    <div class="profile-cont">
        <div class="profile-info">
            <div>
                <label for="userId">Уникальное ID:</label>
                <span id="userId">1357924680</span>
            </div>
            <div>
                <label for="username">Имя пользователя:</label>
                <span id="username">John Doe</span>
            </div>
            <div>
                <label for="age">Возраст:</label>
                <span id="age">30 лет</span>
            </div>
            <div>
                <label for="email">Электронная почта:</label>
                <span id="email">johndoe@example.com</span>
            </div>
            <div>
                <label for="drivingExperience">Стаж вождения:</label>
                <span id="drivingExperience">8 лет</span>
            </div>
            <div>
                <label for="role">Роль на сайте:</label>
                <span id="role">USER</span>
            </div>
        </div>
        <div class="profile-circle">
            <div class="circle">JD</div>
            <button>Редактировать профиль</button>
            <button>Удалить профиль</button>
        </div>
    </div>
</div>
</body>
</html>