<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/client_profile.css}">
    <link type="Image/x-icon" th:href="@{/pictures/favicon.png}" rel="icon">
</head>
<body>
<div class="profile-container">
    <h1>Профиль пользователя</h1>
    <div th:object="${client}" class="profile-cont">
        <div class="profile-info">
            <div>
                <label for="userId">Уникальное ID:</label>
                <span th:text="${client.getId()}" id="userId"></span>
            </div>
            <div>
                <label for="username">Имя пользователя:</label>
                <span th:text="${client.name}" id="username"></span>
            </div>
            <div>
                <label for="age">Возраст:</label>
                <span th:text="${client.age}" id="age"></span>
            </div>
            <div>
                <label for="email">Электронная почта:</label>
                <span th:text="${client.email}" id="email"></span>
            </div>
            <div>
                <label for="drivingExperience">Стаж вождения:</label>
                <span th:text="${client.drivingExperience}" id="drivingExperience"></span>
            </div>
            <div>
                <label for="role">Роль на сайте:</label>
                <span th:text="${client.role}" id="role"></span>
            </div>
        </div>
        <div class="profile-circle">
            <div th:text="${client.name.toUpperCase.charAt(0)}" class="circle"></div>
            <button>Редактировать профиль</button>
            <button>Удалить профиль</button>
        </div>
    </div>
</div>
<div th:if="${client.role.role.equals('ROLE_ADMIN')}" class="client-block">
    <h3>Текущие пользователи</h3>
    <div th:each="user : ${users}">
<!--        <div class="client-image">-->
<!--            <img th:src="@{}" alt="Client">-->
<!--        </div>-->
        <div class="client-description">
            <span>ID пользователя</span><p th:text="${user.getId()}"></p>
            <span>Арендовано автомобилей: </span><p th:text="${user.getCars().size()}"></p>
            <span>Имя пользователя: </span><p th:text="${user.getName()}"></p>
            <span>Роль: </span><p th:text="${user.getRole()}"></p>
            <span>Возраст пользователя: </span><p th:text="${user.getAge()}"></p>
            <span>Электронная почта пользователя: </span><p th:text="${user.getEmail()}"></p>
            <span>Стаж вождения: </span><p th:text="${user.getDrivingExperience()}"></p>
        </div>
        <div class="rent-button">
            <form th:method="DELETE" th:action="@{/admin/client/{id}(id=${user.getId()})}">
                <input type="submit" class="button" value="Удалить пользователя">
            </form>
        </div>
        <br>
    </div>
</div>
</body>
</html>